* {
    padding: 0;
    margin: 0;
    font-size: 35px;
}
body {
    display: flex;
    flex-direction: column;
    gap: 300px;
}
.one {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}